<h3>Login!</h3>

<button>
  <%= link_to "Sign up!", new_user_url %>
</button>

<br><br>

<form action="<%= session_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    Email:
    <input type="text" name="user[email]">
  </label>
  <br><br>

  <label>
    Password:
    <input type="password" name="user[password]">
  </label>
  <br><br>

  <button>Login</button>
</form>


  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <small style="color: red">
        <%= error %>
      </small>
    <% end %>
  <% end %>
